fateking-schema/fateking-schema/src/main/webapp/fateking-observer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.fateking.com:8083/fateking-schema/fateking-observer.jsp" 
	xmlns:tns="http://www.fateking.com:8083/fateking-schema/fateking-observer.jsp"
	elementFormDefault="qualified">

	<xs:element name="performance" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="active" type="xs:boolean"/>
				<xs:element name="output" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:attribute name="base-package" type="xs:string"/>
</xs:schema>